@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");

body {
  background-color: grey;
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
  font-family: "Titillium Web", sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 350px;
  flex-direction: column;
  background-color: #0f0d0d;
  border-radius: 34px;
  padding: 10px;
  box-shadow: rgb(38, 57, 77) 0px 50px 50px 10px;
}
#display {
  text-align: right;
  color: grey;
}
.button {
  padding: 20px;
  margin: 0 3px;
  width: 66px;
  border: 2px solid black;
  border-radius: 12px;
  background-color: black;
  color: cyan;
  cursor: pointer;
}

.row {
  margin: 12px 0;
}

.row input {
  font-size: 20px;
  margin: 0;
  width: 290px;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
